body {
    padding-top: 5rem !important;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.search-input {
    width: 5rem;
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition:width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}
.search-input:focus,
.search-input:not([value=""]) {
    width: 15rem;
}

td.toolbox,
th.toolbox {
    text-align: right;
}

div.toolbox {
    padding-top: 1rem;
    text-align: right;
}

thead td.toolbox,
thead th.toolbox,
tfoot td.toolbox,
tfoot th.toolbox {
    opacity: 1;
}

button {
    cursor: pointer;
}

.modal-body .row {
    padding-bottom: 1rem;
}

.container-toolbar-main {
    padding-bottom: 1rem;
}

.container-toolbar-main .search-input {
    float: right;
}

.container-toolbar {
    text-align: right;
    padding-bottom: 1rem;
}

.dropdown-menu a {
    cursor: pointer;
}

.table.table-hover td.toolbox .btn-group {
    opacity: 0.2;
}

.table.table-hover td.toolbox .btn-group.show,
.table.table-hover tr:hover td.toolbox .btn-group {
    opacity: 1;
}

table tr.k8s-master {
    background-color: #eaffea;
}


table.table thead th {
    vertical-align: top ;
}

.editable {
    cursor: pointer;
}

.floating-message {
    position: relative;
    z-index: -1;
}

.floating-message .alert {
    position: absolute;
    left: 0;
    right: 6rem;
}

.k8s-namespace {
    white-space: nowrap;
}

.spinner-wrapper {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,123,255,0.2);
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}
