{{set . "title" "Namespaces"}}
{{set . "nav" "App.Namespace"}}
{{template "header.html" .}}

<div class="container">
    <div class="container-toolbar">
        <button type="button" class="btn btn-secondary bnt-ns-refresh">Refresh</button>
    </div>
    <div id="namespaceList"></div>
</div>

<div class="modal fade" id="deleteQuestion" tabindex="-1" role="dialog" aria-labelledby="deleteQuestion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete namespace</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you really want to delete namespace <strong class="k8s-namespace">foobar</strong>?
                <div class="alert alert-danger hidden"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary bnt-k8s-namespace-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-secondary bnt-k8s-namespace-delete">Delete namespace</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createQuestion" tabindex="-1" role="dialog" aria-labelledby="createQuestion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create namespace</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="alert alert-danger hidden"></div>
                    <div class="row">
                        <div class="col-3">
                            <label for="inputNsEnvironment">Environment</label>
                            <select name="nsEnvironment" id="inputNsEnvironment" class="form-control inputNsEnvironment namespace-environment" required>
                                {{range .namespaceEnvironments}}
                                    <option value="{{ . }}">{{ . }}</option>
                                {{end}}
                            </select>
                        </div>
                        <div>
                            <label for="inputNsAreaUser" class="inputNsAreaUser">User</label>
                            <input type="text" name="nsAreaUser" id="inputNsAreaUser" class="form-control namespace-area-user hidden inputNsAreaUser" value="{{.user.Username}}" disabled>

                            <label for="inputNsAreaTeam" class="inputNsAreaTeam">Team</label>
                            <select name="nsAreaTeam" id="inputNsAreaTeam" class="form-control namespace-area-team hidden inputNsAreaTeam">
                                {{range .user.Teams}}<option value="{{.Name}}">{{.Name}}</option>{{end}}
                            </select>
                        </div>
                        <div>
                        </div>
                        <div class="col">
                            <label for="inputNsApp" class="inputNsApp">Application</label>
                            <input type="text" name="nsApp" name="inputNsApp" class="form-control namespace-application" placeholder="Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <span id="namespacePreview"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary bnt-k8s-namespace-cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary bnt-k8s-namespace-create">Create namespace</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        'use strict';
        var selectedNamespace = false;

        var reloadContent = function() {
            loadContent("/ajax/namespace", $("#namespaceList"));
        };

        $("body").on("click", ".bnt-ns-refresh", reloadContent);
        reloadContent();

        // --- DELETE ----------------
        var deletePopupInit = function() {
            $("#deleteQuestion .alert").text("").hide();
        };

        $("body").on("click", ".bnt-ns-delete", function() {
            deletePopupInit();
            $("#deleteQuestion").modal('show');

            $("tr").removeClass("table-warning");

            var currentRow = $(this).parents("tr");
            currentRow.addClass("table-warning");

            selectedNamespace = currentRow.data("k8s-namespace");
            $("#deleteQuestion .k8s-namespace").text(selectedNamespace);
        });

        $("body").on("click", "#deleteQuestion .bnt-k8s-namespace-cancel", function(e) {
            $("tr").removeClass("table-warning");
        });

        $("body").on("click", "#deleteQuestion .bnt-k8s-namespace-delete", function(e) {
            var btn = $(this);
            btn.attr("disabled", true);
            $.ajax({
                type: 'DELETE',
                url: "/api/namespace/" + '?' + $.param({"namespace": selectedNamespace})
            }).done(function() {
                $("#deleteQuestion").modal('hide');
                reloadContent();
            }).fail(function(data) {
                if (data.responseJSON && data.responseJSON.Message) {
                    $("#deleteQuestion .alert").text(data.responseJSON.Message).show();
                }
            }).always(function() {
                btn.attr("disabled", false);
            });
        });


        // --- CREATE --------------------------

        var createPopupInit = function(reset) {
            var popup = $("#createQuestion");
            if (reset) {
                popup.find("form")[0].reset();
            }
            popup.find(".alert").text("").hide();
            popup.find(".inputNsAreaUser").hide();
            popup.find(".inputNsAreaUser:input").attr("required", "");
            popup.find(".inputNsAreaTeam").hide();
            popup.find(".inputNsAreaTeam:input").attr("required", "");

            var el = $("#inputNsEnvironment");
            switch (el.val()) {
                case "user":
                    popup.find(".inputNsAreaUser").show();
                    popup.find(".inputNsAreaUser:input").attr("required", "required");
                    break;

                default:
                    popup.find(".inputNsAreaTeam").show();
                    popup.find(".inputNsAreaTeam:input").attr("required", "required");
                    break;
            }
        };

        $("body").on("click", ".bnt-ns-create", function() {
            $("#createQuestion").modal('show');
            createPopupInit(true);

        });

        $("body").on("change", "#createQuestion #inputNsEnvironment:input", function() {
            createPopupInit(false);
        });

        $("body").on("click", "#createQuestion .bnt-k8s-namespace-cancel", function(e) {
            $("#createQuestion").modal('hide');
        });

        $("body").on("click", "#createQuestion .bnt-k8s-namespace-create", function(e) {
            var form = $("#createQuestion form");
            form.find(".alert").text("").hide();
            if (form[0].checkValidity()) {
                var btn = $(this);
                btn.attr("disabled", true);
                $.ajax({
                    type: 'PUT',
                    url: "/api/namespace",
                    data: form.serialize()
                }).done(function() {
                    $("#createQuestion").modal('hide');
                    reloadContent();
                }).fail(function(data) {
                    if (data.responseJSON && data.responseJSON.Message) {
                        form.find(".alert").text(data.responseJSON.Message).show();
                    }
                }).always(function() {
                    btn.attr("disabled", false);
                });
            } else {
                form.addClass("was-validated");
                e.stopPropagation();
                return false;
            }
        });
    });
</script>

{{template "footer.html" .}}
